  .comment-section {
            padding: 80px 0;
        }

        .testimonial-slider {
            background: #e7e7e7ff;
            padding: 40px 20px;
            text-align: center;
            position: relative;
            height: 350px;
            /* auto adjust with content */
        }

        .testimonial-slider .quote-icon {
            font-size: 40px;
            font-weight: bold;
        }

        .testimonial-slider p {
            font-size: 15px;
            max-width: 700px;
            margin: 20px auto;
            line-height: 1.6;
            font-weight: 500;
        }

        .testimonial-slider .author {
            margin-top: 20px;
            font-weight: bold;
        }

        /* Arrows closer & black */
        .carousel-control-prev,
        .carousel-control-next {
            width: auto;
        }

        .carousel-control-prev {
            left: 60px;
        }

        .carousel-control-next {
            right: 60px;
        }

        @media (max-width: 576px) {
            .carousel-control-prev {
                left: 15px;
            }

            .carousel-control-next {
                right: 15px;
            }
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
            width: 30px;
            height: 30px;
            transition: transform 0.2s ease;
        }

        .carousel-control-prev-icon:hover,
        .carousel-control-next-icon:hover {
            transform: scale(1.2);
        }

        /* Indicators (dots) */
        #testimonialCarousel {
            position: relative;
        }

        .carousel-indicators {
            position: absolute;
            bottom: -50px;
            /* move below box */
        }

        .carousel-indicators [data-bs-target] {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #6c757d;
        }

        .carousel-indicators .active {
            background-color: #f7a600;
        }